#register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90vh;
    margin: auto;

    margin-top:2rem;
}

.input-fields{
    width: 90%;
    height: 2rem;
    margin-bottom: 1rem;
    padding-left: 10px;
    border-color:green ;
    border-style: none none solid none;
    
}

#heading{
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10vw;
    margin-bottom: 1.5rem;
    color: green;
}

#gender-container{
    width: 100%;
    height: 10%;
    margin-top: 1rem;
}

#gender-head{
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vw;
    margin-left: 18px;
    margin-bottom: 5px;
    color: green;
}

label{
    font-weight: 700;
    margin-left: 5rem;
    margin-right: 10px;
    color: green;
}

button{
    width: 10rem;
    height: 3rem;
    margin-top: 1rem;
    color: green;
    font-size: large;
    font-weight: 700;
    border: 2px solid green;
    background-color: transparent;
    border-radius: 50px;
    transition: all;
    transition-duration: 0.3s;
    cursor: pointer;
}

button:hover{
    background-color: green;
    color: white;
}

#sign-in-message{
    margin-top: 1rem;
}
#sign-in-link{
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

#sign-in-link:hover{
    color: blue;
    text-decoration: underline;
}

#login-in-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50vh;
    margin: auto;

    margin-top:10rem;
}

@media (min-width:640px) {
    #register-form{
        width: 60%;
        border: 2px solid green;
    }
    #heading{
        font-size: 5vw;
    }
    #gender-head{
        font-size: 3vw;
    }
    #login-in-form{
        width: 60%;
        border: 2px solid green;
    }
}

@media (min-width:1024px) {
    #register-form{
        width: 40%;
    }
    #heading{
        font-size: 3vw;
    }
    #gender-head{
        font-size: 2vw;
    }
    #login-in-form{
        width: 40%;
    }
}


